@if (anime) {
  <app-kanban-card 
    [media]="anime" 
    [isSelected]="isSelected"
    (edit)="edit.emit($event)" 
    (delete)="delete.emit($event)" 
    (increment)="increment.emit($event)"
    (complete)="complete.emit($event)"
    (addNewRun)="addNewRun.emit($event)"
    (addLog)="addLog.emit($event)"
    (mediaClick)="mediaClick.emit($event)"
    [isCompleted]="isCompleted"
  >
    <div class="anime-info">
      <h3>{{ anime.title }}</h3>
      @if (anime.studios && anime.studios.length > 0) {
        <div class="studio-name">{{ anime.studios[0] }}</div>
      }
      <div class="meta">
        <span>{{ episodeCount() }} / {{ anime.progressTotal || '?' }}</span>
        
        @if (anime.score > 0) {
          <span class="score" [ngClass]="getScoreColorClass(anime.score)">
            <lucide-icon [img]="StarIcon" [size]="14"></lucide-icon>
            {{ anime.score }}/6
          </span>
        }
      </div>
      @if (anime.genres.length > 0) {
        <div class="genres">
          @for (genre of anime.genres.slice(0, 3); track genre) {
            <span class="genre-tag">{{ genre }}</span>
          }
        </div>
      }
    </div>
  </app-kanban-card>
}