@if (manga) {
  <app-kanban-card 
    [media]="manga" 
    [isSelected]="isSelected"
    (edit)="edit.emit($event)" 
    (delete)="delete.emit($event)" 
    (increment)="increment.emit($event)"
    (complete)="complete.emit($event)"
    (addNewRun)="addNewRun.emit($event)"
    (addLog)="addLog.emit($event)"
    (mediaClick)="mediaClick.emit($event)"
    [isCompleted]="isCompleted()"
  >
    <div class="manga-info">
      <h3>{{ manga.title }}</h3>
      @if (manga.studios && manga.studios.length > 0) {
        <div class="author-name">{{ manga.studios[0] }}</div>
      }
      <div class="meta">
        <span>{{ manga.progressCurrent || 0 }} / {{ manga.progressTotal || '?' }} chapters</span>
        
        @if (manga.score > 0) {
          <span class="score" [ngClass]="getScoreColorClass(manga.score)">
            <lucide-icon [img]="StarIcon" [size]="14"></lucide-icon>
            {{ manga.score }}/6
          </span>
        }
      </div>
      @if (manga.genres.length > 0) {
        <div class="genres">
          @for (genre of manga.genres.slice(0, 3); track genre) {
            <span class="genre-tag">{{ genre }}</span>
          }
        </div>
      }
    </div>
  </app-kanban-card>
}
