<div class="kanban-container">
  @if (loading()) {
    <div class="loading">Loading...</div>
  } @else {
    <app-board-filters />

    <div class="kanban-board">
      @for (column of columns(); track trackByCategoryId($index, column)) {
        <div class="kanban-column">
          <div class="column-header" [style.border-color]="column.category.color">
            <div class="header-left">
              <h2>{{ column.category.name }}</h2>
              <span class="count">{{ column.anime.length }}</span>
            </div>
            <button 
              class="add-column-btn" 
              [style.background]="column.category.color"
              (click)="openAddDialog(column.category.id!)"
              title="Add anime to {{ column.category.name }}"
            >
              <span class="add-icon">+</span>
            </button>
          </div>

          <div
            class="anime-list"
            cdkDropList
            [id]="'column-' + $index"
            [cdkDropListData]="column.anime"
            [cdkDropListConnectedTo]="getConnectedLists()"
            [cdkDropListAutoScrollDisabled]="false"
            cdkDropListOrientation="vertical"
            (cdkDropListDropped)="onDrop($event, column.category.id!)"
          >
            @for (anime of column.anime; track trackByAnimeId($index, anime)) {
              <app-anime-card 
                [anime]="anime"
                (click)="animeClick.emit(anime)"
                (edit)="onEdit($event)"
                (delete)="onDelete($event)"
              ></app-anime-card>
            } @empty {
              <div class="empty-column">
                <p>No anime in this category</p>
              </div>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
