<div class="anime-card" [routerLink]="['/' + routePrefix(), item().id]">
  <div class="cover-wrapper">
    <img [src]="item().coverImage" [alt]="item().title" loading="lazy">
    <div class="overlay">
      <div class="score" *ngIf="item().score">
        <span class="star">★</span> {{ item().score }}
      </div>
      
      <button class="increment-btn" (click)="incrementEpisode($event)" title="Add Progress">
        <lucide-icon [img]="PlusIcon" [size]="20"></lucide-icon>
      </button>
    </div>
  </div>
  <div class="info">
    <h3 class="title">{{ item().title }}</h3>
    <div class="meta">
      <span class="episodes">
        {{ runProgress() }}/{{ item().progressTotal || '?' }} 
        {{ item().mediaTypeId === 1 ? 'eps' : (item().mediaTypeId === 2 ? 'ch' : '') }}
      </span>
    </div>
  </div>
</div>