:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121418;
}

.mobile-only {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.desktop-only {
  @media (max-width: 768px) {
    display: none;
  }
}
