:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--app-bg);
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem; 
}

.mobile-only {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.desktop-only {
  @media (max-width: 768px) {
    display: none;
  }
}
