<nav class="bottom-nav">
  <a class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <lucide-icon [img]="LibraryIcon"></lucide-icon>
    <span>Library</span>
  </a>
  
  <a class="nav-item" routerLink="/categories" routerLinkActive="active">
    <lucide-icon [img]="LayersIcon"></lucide-icon>
    <span>Categories</span>
  </a>
  
  <a class="nav-item" routerLink="/sources" routerLinkActive="active">
    <lucide-icon [img]="MonitorIcon"></lucide-icon>
    <span>Sources</span>
  </a>
</nav>
