.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--app-bg);
  min-height: calc(100vh - 5.5rem);
  position: relative;
  overflow-x: hidden;

  .view-content-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;

    app-kanban-board,
    app-list-view {
      grid-area: 1 / 1 / 2 / 2;
      width: 100%;
      height: 100%;
      background: var(--app-bg);
    }
  }
}
