.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0F172A;
  overflow: hidden;
}

.desktop-only {
  display: block;
  flex: 1;
  min-height: 0; // for flex scroll
  overflow: hidden;
}

.mobile-only {
  display: none;
}

@media (max-width: 640px) {
  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
}
