<div class="home-container">
  <header class="app-header">
    <h1>🎌 Anime Tracker</h1>
    <div class="header-actions">
      <button class="manage-btn" (click)="openManageSourcesDialog()">
        Manage Sources
      </button>
      <button class="manage-btn" (click)="openManageCategoriesDialog()">
        Manage Categories
      </button>
      <button class="add-btn" (click)="openAddDialog()">
        <span class="add-icon">+</span>
        Add Anime
      </button>
    </div>
  </header>

  <app-kanban-board 
    (addAnimeToCategory)="openAddDialogWithCategory($event)" 
    (animeClick)="openAnimeDetails($event)"
    (editAnime)="openEditAnime($event)"
  />
  <app-add-anime-dialog />
  <app-manage-categories-dialog />
  <app-manage-sources-dialog />
  <app-anime-details-dialog (edit)="openEditAnime($event)"></app-anime-details-dialog>
</div>
