<div class="home-container">
  <app-header 
    class="desktop-only"
    (addAnime)="openAddDialog()" 
    (manageCategories)="openManageCategoriesDialog()"
    (manageSources)="openManageSourcesDialog()"
  ></app-header>

  <app-kanban-board 
    class="desktop-only"
    (addAnimeToCategory)="openAddDialogWithCategory($event)" 
    (animeClick)="openAnimeDetails($event)"
    (editAnime)="openEditAnime($event)"
  />

  <app-mobile-library
    class="mobile-only"
    (animeClick)="openAnimeDetails($event)"
    (editAnime)="openEditAnime($event)"
    (addAnimeReq)="openAddDialogWithCategory($event)"
  ></app-mobile-library>
  <app-add-anime-dialog />
  <app-manage-categories-dialog />
  <app-manage-sources-dialog />
  <app-anime-details-dialog (edit)="openEditAnime($event)"></app-anime-details-dialog>
</div>
